[submodule "discovery-service"]
	path = discovery-service
	url = https://github.com/InteractiveLecture/discovery-service.git
[submodule "acl-service"]
	path = acl-service
	url = https://github.com/InteractiveLecture/acl-service.git
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/InteractiveLecture/authentication-service.git
[submodule "java-evaluation-service"]
	path = java-evaluation-service
	url = https://github.com/InteractiveLecture/java-evaluation-service.git
[submodule "document-service"]
	path = document-service
	url = https://github.com/InteractiveLecture/document-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/InteractiveLecture/gateway-service.git
[submodule "id-service"]
	path = id-service
	url = https://github.com/InteractiveLecture/id-service.git
[submodule "user-webui-service"]
	path = user-webui-service
	url = https://github.com/InteractiveLecture/user-webui-service.git
[submodule "lecture-service"]
	path = lecture-service
	url = https://github.com/InteractiveLecture/lecture-service.git
[submodule "media-service"]
	path = media-service
	url = https://github.com/InteractiveLecture/media-service.git
[submodule "java-string-compiler-test-framework"]
	path = string-compiler-test-framework
	url = https://github.com/InteractiveLecture/java-string-compiler-test-framework.git
[submodule "java-string-compiler"]
	path = string-compiler
	url = https://github.com/InteractiveLecture/java-string-compiler.git
[submodule "compiler-service-api"]
	path = compiler-service-api
	url = https://github.com/InteractiveLecture/java-compiler-service-api.git
[submodule "patch-lib"]
	path = patch-lib
	url = https://github.com/InteractiveLecture/patch-lib.git
